<a href="https://colab.research.google.com/github/wurifah/Bisaai/blob/main/NER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('NamedEntityRecognition.csv')
df.head(10)

                     transaction_descriptor store_number dataset
0            DOLRTREE 2257 00022574 ROSWELL         2257   train
1                            AUTOZONE #3547         3547   train
2                     TGI FRIDAYS 1485 0000         1485   train
3                    BUFFALO WILD WINGS 003            3   train
4                            J. CREW #568 0          568   train
5  KRISPY KREME 0040        GREENVILLE   SC           40   train
6  FIVE GUYS MN 1847 ECOM   612-339-9733 MN         1847   train
7                     CASEYS GEN STORE 2650         2650   train
8                          HUDDLE HOUSE 535          535   train
9                         JAMBA JUICE #1305         1305   train

In [3]:
train = df[(df['dataset']=='train')|(df['dataset']=='validation')]
train

             transaction_descriptor store_number     dataset
0    DOLRTREE 2257 00022574 ROSWELL         2257       train
1                    AUTOZONE #3547         3547       train
2             TGI FRIDAYS 1485 0000         1485       train
3            BUFFALO WILD WINGS 003            3       train
4                    J. CREW #568 0          568       train
..                              ...          ...         ...
195                 ROSS STORES #15           15  validation
196               SPRINT STORE #346          346  validation
197          SPEEDWAY 07134 4343 OL         7134  validation
198            THE HOME DEPOT #8550         8550  validation
199                    OUTBACK 0315          315  validation

[200 rows x 3 columns]

In [4]:
test = df.loc[df['dataset'] =='test']
test

        transaction_descriptor store_number dataset
200       IN-N-OUT BURGER #242          242    test
201   BP#9442088LIBERTYVILLE B      9442088    test
202              JCPENNEY 1419         1419    test
203          ROSS STORES #1019         1019    test
204         WM SUPERCENTER #38           38    test
..                         ...          ...     ...
295           MCDONALD'S F2151        F2151    test
296  NST BEST BUY #1403 332411         1403    test
297        CVS/PHARMACY #06689         6689    test
298      BANANA REPUBLIC #8109         8109    test
299         BOSTON MARKET 0443          443    test

[100 rows x 3 columns]

In [5]:
teks = train.transaction_descriptor.tolist()
number = train.store_number.tolist()

In [6]:
import re

In [7]:
def find_matches(text,number):
    match = re.search(str(number),text)
    start = match.start()
    end = match.end()
    return(start, end)

find_matches(str(teks), str(number))

(1, 2)

In [8]:
train_data = []

for item in train.values:
    start, end = find_matches(item[0],item[1])
    train_item = (item[0],{
          'entities':[(start, end, 'NUMBER')]
    })

    train_data.append(train_item)

train_data

[('DOLRTREE 2257 00022574 ROSWELL', {'entities': [(9, 13, 'NUMBER')]}),
 ('AUTOZONE #3547', {'entities': [(10, 14, 'NUMBER')]}),
 ('TGI FRIDAYS 1485 0000', {'entities': [(12, 16, 'NUMBER')]}),
 ('BUFFALO WILD WINGS 003', {'entities': [(21, 22, 'NUMBER')]}),
 ('J. CREW #568 0', {'entities': [(9, 12, 'NUMBER')]}),
 ('KRISPY KREME 0040        GREENVILLE   SC',
  {'entities': [(15, 17, 'NUMBER')]}),
 ('FIVE GUYS MN 1847 ECOM   612-339-9733 MN',
  {'entities': [(13, 17, 'NUMBER')]}),
 ('CASEYS GEN STORE 2650', {'entities': [(17, 21, 'NUMBER')]}),
 ('HUDDLE HOUSE 535', {'entities': [(13, 16, 'NUMBER')]}),
 ('JAMBA JUICE #1305', {'entities': [(13, 17, 'NUMBER')]}),
 ('ANN TAYLOR FACTORY #2202', {'entities': [(20, 24, 'NUMBER')]}),
 ('Subway 26824', {'entities': [(7, 12, 'NUMBER')]}),
 ('MARSHALLS #0688', {'entities': [(12, 15, 'NUMBER')]}),
 ('OREILLY AUTO #4681', {'entities': [(14, 18, 'NUMBER')]}),
 ('TA #227 BARSTOW REST', {'entities': [(4, 7, 'NUMBER')]}),
 ('SONIC #3207', {'entities': [(7, 11, 'NUMBER')]}),
 ('HY VEE 1040', {'entities': [(7, 11, 'NUMBER')]}),
 ("MCDONALD'S F1013", {'entities': [(11, 16, 'NUMBER')]}),
 ('CHEVRON 00207812', {'entities': [(10, 16, 'NUMBER')]}),
 ('EXPRESS#0920', {'entities': [(9, 12, 'NUMBER')]}),
 ("MCDONALD'S F16829", {'entities': [(11, 17, 'NUMBER')]}),
 ('CHEVRON 0208998    Q61', {'entities': [(9, 15, 'NUMBER')]}),
 ('STARBUCKS STORE 49134', {'entities': [(16, 21, 'NUMBER')]}),
 ('CHEVRON 0302900', {'entities': [(9, 15, 'NUMBER')]}),
 ('CIRCLE K 01251', {'entities': [(10, 14, 'NUMBER')]}),
 ('NST BEST BUY #479  002610', {'entities': [(14, 17, 'NUMBER')]}),
 ('HOLIDAY STNSTORE 0354', {'entities': [(18, 21, 'NUMBER')]}),
 ("DOMINO'S 7430", {'entities': [(9, 13, 'NUMBER')]}),
 ('NST ROSS STORE #483280353', {'entities': [(16, 25, 'NUMBER')]}),
 ("MCDONALD'S F5579", {'entities': [(11, 16, 'NUMBER')]}),
 ('NST ROSS STORES #10262660', {'entities': [(17, 25, 'NUMBER')]}),
 ('HOLIDAY STNSTORE 0447', {'entities': [(18, 21, 'NUMBER')]}),
 ('NST BEST BUY #25   232381', {'entities': [(14, 16, 'NUMBER')]}),
 ('MEIJER # 196', {'entities': [(9, 12, 'NUMBER')]}),
 ('SUBWAY        00516260', {'entities': [(16, 22, 'NUMBER')]}),
 ("DOMINO'S 6870", {'entities': [(9, 13, 'NUMBER')]}),
 ('MARATHON PETRO045518', {'entities': [(15, 20, 'NUMBER')]}),
 ("MCDONALD'S F2128", {'entities': [(11, 16, 'NUMBER')]}),
 ('DOLLAR GENERAL #22357', {'entities': [(16, 21, 'NUMBER')]}),
 ('SUNOCO 0748361300', {'entities': [(8, 17, 'NUMBER')]}),
 ("MCDONALD'S F3172", {'entities': [(11, 16, 'NUMBER')]}),
 ("DENNY'S #9505", {'entities': [(9, 13, 'NUMBER')]}),
 ('THE HOME DEPOT #1407', {'entities': [(16, 20, 'NUMBER')]}),
 ("PAPA JOHN'S 01548.COM", {'entities': [(13, 17, 'NUMBER')]}),
 ('CIRCLE K # 06524         OCALA        FL',
  {'entities': [(12, 16, 'NUMBER')]}),
 ('AutoZone 6425 711 E MAI', {'entities': [(9, 13, 'NUMBER')]}),
 ('THE HOME DEPOT #6853', {'entities': [(16, 20, 'NUMBER')]}),
 ('TEXACO 0308296', {'entities': [(8, 14, 'NUMBER')]}),
 ('NNT LANE BRYANT 455460', {'entities': [(17, 21, 'NUMBER')]}),
 ('HOLIDAY STNSTORE 0142', {'entities': [(18, 21, 'NUMBER')]}),
 ('NST ROSS STORES #11572299', {'entities': [(17, 25, 'NUMBER')]}),
 ("DOMINO'S 3857", {'entities': [(9, 13, 'NUMBER')]}),
 ('WEST MARINE #1327', {'entities': [(13, 17, 'NUMBER')]}),
 ('NST BEST BUY #27   002732', {'entities': [(14, 16, 'NUMBER')]}),
 ('HOLIDAY STNSTORE 0303', {'entities': [(18, 21, 'NUMBER')]}),
 ('PALAIS ROYAL #24', {'entities': [(14, 16, 'NUMBER')]}),
 ('MEIJER # 209 128', {'entities': [(9, 12, 'NUMBER')]}),
 ("DENNY'S #7350 180073", {'entities': [(9, 13, 'NUMBER')]}),
 ('NST BEST BUY #1783 532412', {'entities': [(14, 18, 'NUMBER')]}),
 ('WAL-MART #1316', {'entities': [(10, 14, 'NUMBER')]}),
 ('WALGREENS #4102', {'entities': [(11, 15, 'NUMBER')]}),
 ('NST ROSS STORES #11002986', {'entities': [(17, 25, 'NUMBER')]}),
 ('CNS EXPRESS#0098   670753', {'entities': [(14, 16, 'NUMBER')]}),
 ('NST BEST BUY #1774 532399', {'entities': [(14, 18, 'NUMBER')]}),
 ('CIRCLE K 02910', {'entities': [(10, 14, 'NUMBER')]}),
 ('NNT SEARS HOMETOWN 231594', {'entities': [(19, 23, 'NUMBER')]}),
 ('NST ROSS STORES #10630845', {'entities': [(17, 25, 'NUMBER')]}),
 ('DAIRY QUEEN #42', {'entities': [(13, 15, 'NUMBER')]}),
 ('HOLIDAY STNSTORE 0437', {'entities': [(18, 21, 'NUMBER')]}),
 ('NNT FAMOUS FOOTWEAR572264', {'entities': [(19, 25, 'NUMBER')]}),
 ('NNT BURLNGTON STORE171793', {'entities': [(19, 25, 'NUMBER')]}),
 ('SUBWAY        03312162', {'entities': [(15, 22, 'NUMBER')]}),
 ('JIMMY JOHNS # 4 - ECO', {'entities': [(14, 15, 'NUMBER')]}),
 ('CVS/PHARMACY #01858 00000', {'entities': [(15, 19, 'NUMBER')]}),
 ("MCDONALD'S F26490", {'entities': [(11, 17, 'NUMBER')]}),
 ('JIMMY JOHNS - 974', {'entities': [(14, 17, 'NUMBER')]}),
 ('NNT FAMOUS FOOTWEAR881706', {'entities': [(19, 25, 'NUMBER')]}),
 ("WENDY'S 3626", {'entities': [(8, 12, 'NUMBER')]}),
 ('CIRCLE K 06286', {'entities': [(10, 14, 'NUMBER')]}),
 ('BIG O TIRES #6255        GRAND JUNCTIOCO',
  {'entities': [(13, 17, 'NUMBER')]}),
 ('NST ROSS STORES #14560807', {'entities': [(17, 25, 'NUMBER')]}),
 ('TACO BELL 739723', {'entities': [(10, 16, 'NUMBER')]}),
 ('BOSTON MARKET 0113', {'entities': [(15, 18, 'NUMBER')]}),
 ('NST ROSS STORES #14782798', {'entities': [(17, 25, 'NUMBER')]}),
 ('SUBWAY 25139             FORT MOJAVE  AZ',
  {'entities': [(7, 12, 'NUMBER')]}),
 ("DENNY'S #9386", {'entities': [(9, 13, 'NUMBER')]}),
 ('NST ROSS STORES #12862950', {'entities': [(17, 25, 'NUMBER')]}),
 ('ARBYS #7591 CAMBRIDGE', {'entities': [(7, 11, 'NUMBER')]}),
 ('CASEYS GEN STORE 2', {'entities': [(17, 18, 'NUMBER')]}),
 ('NST BEST BUY #500  970304', {'entities': [(14, 17, 'NUMBER')]}),
 ("MCDONALD'S F35869MCDONALD'S F35869", {'entities': [(11, 17, 'NUMBER')]}),
 ('NNT FAMOUS FOOTWEAR470811', {'entities': [(19, 25, 'NUMBER')]}),
 ('SUNOCO 0374572602', {'entities': [(8, 17, 'NUMBER')]}),
 ("DOMINO'S 9502", {'entities': [(9, 13, 'NUMBER')]}),
 ('KFC G020029', {'entities': [(4, 11, 'NUMBER')]}),
 ('DUNKIN #355514', {'entities': [(8, 14, 'NUMBER')]}),
 ('THE HOME DEPOT #6828', {'entities': [(16, 20, 'NUMBER')]}),
 ('RUE21 #1129 BLUE', {'entities': [(7, 11, 'NUMBER')]}),
 ('WM SUPERCENTER #34', {'entities': [(16, 18, 'NUMBER')]}),
 ('RACETRAC485   00004853', {'entities': [(8, 11, 'NUMBER')]}),
 ('DEL TACO 833', {'entities': [(9, 12, 'NUMBER')]}),
 ('NNT BURLNGTON STORE472605', {'entities': [(19, 25, 'NUMBER')]}),
 ("WENDY'S #05320", {'entities': [(10, 14, 'NUMBER')]}),
 ('DUNKIN #337734 Q35', {'entities': [(8, 14, 'NUMBER')]}),
 ("MCDONALD'S F565          CLARKSVILLE  TN",
  {'entities': [(11, 15, 'NUMBER')]}),
 ('WALGREENS #13822', {'entities': [(11, 16, 'NUMBER')]}),
 ('QDOBA 2050', {'entities': [(6, 10, 'NUMBER')]}),
 ('TACO BELL 729724', {'entities': [(10, 16, 'NUMBER')]}),
 ('THE HOME DEPOT #0662', {'entities': [(17, 20, 'NUMBER')]}),
 ('HOLIDAY STNSTORE 0453', {'entities': [(18, 21, 'NUMBER')]}),
 ('NST BEST BUY #235  860244', {'entities': [(14, 17, 'NUMBER')]}),
 ("WENDY'S #4215", {'entities': [(9, 13, 'NUMBER')]}),
 ('NST ROSS STORES #13360692', {'entities': [(17, 25, 'NUMBER')]}),
 ('NNT FAMOUSFOOTWEAR#570903', {'entities': [(19, 25, 'NUMBER')]}),
 ('NST BEST BUY #304  561499', {'entities': [(14, 17, 'NUMBER')]}),
 ('NST BEST BUY #380  830230', {'entities': [(14, 17, 'NUMBER')]}),
 ('HOLIDAY STNSTORE 0046', {'entities': [(19, 21, 'NUMBER')]}),
 ('REGIS SALON 4842', {'entities': [(12, 16, 'NUMBER')]}),
 ('NNT ZUMIEZ #409    581936', {'entities': [(12, 15, 'NUMBER')]}),
 ('PIER 1 IMPORTS00008060', {'entities': [(18, 21, 'NUMBER')]}),
 ('LOWES #02282* BRANDON, FL (7679)', {'entities': [(8, 12, 'NUMBER')]}),
 ('WALGREENS #15474', {'entities': [(11, 16, 'NUMBER')]}),
 ('STARBUCKS #08988 MEDFORD', {'entities': [(12, 16, 'NUMBER')]}),
 ('WENDYS #0179', {'entities': [(9, 12, 'NUMBER')]}),
 ('ARBYS #7871 THIEF RIVER', {'entities': [(7, 11, 'NUMBER')]}),
 ('NST BEST BUY #387  181855', {'entities': [(14, 17, 'NUMBER')]}),
 ("WENDY'S #1970 000001970", {'entities': [(9, 13, 'NUMBER')]}),
 ('HOLIDAY STNSTORE 0256', {'entities': [(18, 21, 'NUMBER')]}),
 ("PAPA JOHN'S #295", {'entities': [(13, 16, 'NUMBER')]}),
 ('WENDYS #514 TAMPA, FL (7271)', {'entities': [(8, 11, 'NUMBER')]}),
 ('MURPHY7548ATWALMART      LITHIA SPRINGGA',
  {'entities': [(6, 10, 'NUMBER')]}),
 ('NNT FAMOUS FOOTWEAR830366', {'entities': [(19, 25, 'NUMBER')]}),
 ('QDOBA #291             FORT COLLINS COUS',
  {'entities': [(7, 10, 'NUMBER')]}),
 ('JUSTICE 0407', {'entities': [(9, 12, 'NUMBER')]}),
 ('NNT BURLNGTON STORE001491', {'entities': [(21, 25, 'NUMBER')]}),
 ('NNT HIBBETT SPORTS 072473', {'entities': [(20, 25, 'NUMBER')]}),
 ('HARBOR FREIGHT TOOLS 233', {'entities': [(21, 24, 'NUMBER')]}),
 ("MCDONALD'S F6297", {'entities': [(11, 16, 'NUMBER')]}),
 ("ARBY'S 8396", {'entities': [(7, 11, 'NUMBER')]}),
 ('TACO BELL 723832', {'entities': [(10, 16, 'NUMBER')]}),
 ('NNT BURLNGTON STORE460391', {'entities': [(19, 25, 'NUMBER')]}),
 ('JIMMY JOHNS - 13', {'entities': [(14, 16, 'NUMBER')]}),
 ('IN N OUT BURGER 284', {'entities': [(16, 19, 'NUMBER')]}),
 ('THE CHILDRENS PLACE #1624', {'entities': [(21, 25, 'NUMBER')]}),
 ('SPEEDWAY 06406 BRADENTO, FL (5243)', {'entities': [(10, 14, 'NUMBER')]}),
 ('BELK #0619 PHIPP', {'entities': [(7, 10, 'NUMBER')]}),
 ('NNT SEARS HOMETOWN 000415', {'entities': [(22, 23, 'NUMBER')]}),
 ('NST BEST BUY #47   571045', {'entities': [(14, 16, 'NUMBER')]}),
 ('SUNOCO 0780350500  QPS', {'entities': [(8, 17, 'NUMBER')]}),
 ('STOP & SHOP #523', {'entities': [(13, 16, 'NUMBER')]}),
 ('KUM & GO #927', {'entities': [(10, 13, 'NUMBER')]}),
 ('KROGER #0445', {'entities': [(9, 12, 'NUMBER')]}),
 ("PAPA MURPHY'S CA142", {'entities': [(14, 19, 'NUMBER')]}),
 ('AUTOZONE  2322 1', {'entities': [(10, 14, 'NUMBER')]}),
 ('LOAF N JUG #0167', {'entities': [(13, 16, 'NUMBER')]}),
 ('KFC L765004   66850041', {'entities': [(4, 11, 'NUMBER')]}),
 ('DAIRY QUEEN #11789', {'entities': [(13, 18, 'NUMBER')]}),
 ('SUPERAMERICA 4204', {'entities': [(13, 17, 'NUMBER')]}),
 ('Subway 14639', {'entities': [(7, 12, 'NUMBER')]}),
 ('CHECKERS 687', {'entities': [(9, 12, 'NUMBER')]}),
 ('OCHARLEYS206BOWLGR 000000', {'entities': [(9, 12, 'NUMBER')]}),
 ('JIMMY JOHNS - 1338', {'entities': [(14, 18, 'NUMBER')]}),
 ('FRESH & EASY #1167       CORONA       CA',
  {'entities': [(14, 18, 'NUMBER')]}),
 ("DOMINO'S 3162", {'entities': [(9, 13, 'NUMBER')]}),
 ('PIZZA HUT 2989', {'entities': [(10, 14, 'NUMBER')]}),
 ('DUNKIN #346432     Q35', {'entities': [(8, 14, 'NUMBER')]}),
 ('SUNOCO 0013625903', {'entities': [(9, 17, 'NUMBER')]}),
 ('SUBWAY        00040055', {'entities': [(17, 21, 'NUMBER')]}),
 ('SUBWAY        04016168', {'entities': [(15, 22, 'NUMBER')]}),
 ('TJMAXX #0452 000000452', {'entities': [(9, 12, 'NUMBER')]}),
 ("WENDY'S #4611", {'entities': [(9, 13, 'NUMBER')]}),
 ('WINN-DIXIE #01', {'entities': [(13, 14, 'NUMBER')]}),
 ('ROSS STORES #1049', {'entities': [(13, 17, 'NUMBER')]}),
 ("DOMINO'S 1901", {'entities': [(9, 13, 'NUMBER')]}),
 ('JO-ANN STORE #2314', {'entities': [(14, 18, 'NUMBER')]}),
 ('TACO BELL #029071', {'entities': [(12, 17, 'NUMBER')]}),
 ('OLD NAVY #6470', {'entities': [(10, 14, 'NUMBER')]}),
 ('KOHLS 0043 3737 S 27TH', {'entities': [(8, 10, 'NUMBER')]}),
 ("LOWE'S #0046", {'entities': [(10, 12, 'NUMBER')]}),
 ('MEIJER # 029 233', {'entities': [(10, 12, 'NUMBER')]}),
 ('JIMMY JOHNS - 2', {'entities': [(14, 15, 'NUMBER')]}),
 ("MACY'S      730", {'entities': [(12, 15, 'NUMBER')]}),
 ('NST BEST BUY #421  131953', {'entities': [(14, 17, 'NUMBER')]}),
 ('THE HOME DEPOT #1085', {'entities': [(16, 20, 'NUMBER')]}),
 ('CIRCLE K # 23853', {'entities': [(11, 16, 'NUMBER')]}),
 ('SIX 02 46221 SIX 02 46221', {'entities': [(7, 12, 'NUMBER')]}),
 ('AUTOZONE  1563', {'entities': [(10, 14, 'NUMBER')]}),
 ('CIRCLE K 05601', {'entities': [(10, 14, 'NUMBER')]}),
 ('NST BEST BUY #29   871122', {'entities': [(14, 16, 'NUMBER')]}),
 ('WAL-MART #5754           WILLIAMSBURG VA',
  {'entities': [(10, 14, 'NUMBER')]}),
 ('TACO BELL #021103', {'entities': [(12, 17, 'NUMBER')]}),
 ('NST ROSS STORES #17131522', {'entities': [(17, 25, 'NUMBER')]}),
 ('NST BEST BUY #440  130975', {'entities': [(14, 17, 'NUMBER')]}),
 ('WAL-MART #0976 0WINNSBORO 0LA', {'entities': [(11, 14, 'NUMBER')]}),
 ('BP#5998869CK ST', {'entities': [(3, 10, 'NUMBER')]}),
 ('ROSS STORES #15', {'entities': [(13, 15, 'NUMBER')]}),
 ('SPRINT STORE #346', {'entities': [(14, 17, 'NUMBER')]}),
 ('SPEEDWAY 07134 4343 OL', {'entities': [(10, 14, 'NUMBER')]}),
 ('THE HOME DEPOT #8550', {'entities': [(16, 20, 'NUMBER')]}),
 ('OUTBACK 0315', {'entities': [(9, 12, 'NUMBER')]})]

In [9]:
import spacy
from tqdm import tqdm

In [10]:
nlp = spacy.blank('en') 
ner = nlp.create_pipe('ner') 
nlp.add_pipe(ner)

In [11]:
import random

In [12]:
for _, annotations in train_data: 
    for ent in annotations.get('entities'):
        ner.add_label(ent[2])

other_pipes = [pipe for pipe in nlp.pipe_names if pipe != 'ner']
with nlp.disable_pipes(*other_pipes): 
    optimizer = nlp.begin_training()
    for itn in range(30):
        random.shuffle(train_data)
        losses = {}
        for text, annotations in tqdm(train_data):
            nlp.update(
                [text],  
                [annotations],  
                drop=0.5,  
                sgd=optimizer,
                losses=losses)
        print(losses)

100%|██████████| 200/200 [00:05<00:00, 36.12it/s]

{'ner': 139.5420432683508}

100%|██████████| 200/200 [00:05<00:00, 36.63it/s]

{'ner': 25.69481070868198}

100%|██████████| 200/200 [00:05<00:00, 35.33it/s]

{'ner': 10.239890155632313}

100%|██████████| 200/200 [00:07<00:00, 27.34it/s]

{'ner': 10.082619231479484}

100%|██████████| 200/200 [00:06<00:00, 28.62it/s]

{'ner': 3.429775504929937}

100%|██████████| 200/200 [00:05<00:00, 34.26it/s]

{'ner': 2.0039420224552593}

100%|██████████| 200/200 [00:05<00:00, 34.05it/s]

{'ner': 0.007178431620379518}

100%|██████████| 200/200 [00:08<00:00, 23.98it/s]

{'ner': 3.57465942127303}

100%|██████████| 200/200 [00:09<00:00, 20.51it/s]

{'ner': 5.620929522064287}

100%|██████████| 200/200 [00:10<00:00, 19.95it/s]

{'ner': 4.973545083526231e-05}

100%|██████████| 200/200 [00:10<00:00, 19.44it/s]

{'ner': 0.2691562766176161}

100%|██████████| 200/200 [00:09<00:00, 20.48it/s]

{'ner': 0.004349694356211574}

100%|██████████| 200/200 [00:09<00:00, 20.78it/s]

{'ner': 1.2780880292548635}

100%|██████████| 200/200 [00:09<00:00, 20.04it/s]

{'ner': 0.00023420829425238317}

100%|██████████| 200/200 [00:09<00:00, 20.16it/s]

{'ner': 13.94214197666709}

100%|██████████| 200/200 [00:09<00:00, 20.61it/s]

{'ner': 5.966201677458981}

100%|██████████| 200/200 [00:09<00:00, 20.76it/s]

{'ner': 0.8802560902336329}

100%|██████████| 200/200 [00:09<00:00, 20.83it/s]

{'ner': 2.8842305224855957}

100%|██████████| 200/200 [00:09<00:00, 20.24it/s]

{'ner': 8.007964166232608}

100%|██████████| 200/200 [00:10<00:00, 19.85it/s]

{'ner': 4.509272639166477}

100%|██████████| 200/200 [00:09<00:00, 20.98it/s]

{'ner': 4.158093486014492}

100%|██████████| 200/200 [00:09<00:00, 20.81it/s]

{'ner': 7.722471641003708e-05}

100%|██████████| 200/200 [00:09<00:00, 20.38it/s]

{'ner': 0.026888719372644095}

100%|██████████| 200/200 [00:09<00:00, 20.31it/s]

{'ner': 2.0000032285590468}

100%|██████████| 200/200 [00:09<00:00, 20.48it/s]

{'ner': 3.9948070924495696}

100%|██████████| 200/200 [00:09<00:00, 20.46it/s]

{'ner': 3.9992587306432594}

100%|██████████| 200/200 [00:09<00:00, 20.49it/s]

{'ner': 2.0000000007762107}

100%|██████████| 200/200 [00:09<00:00, 20.87it/s]

{'ner': 2.76368576436498}

100%|██████████| 200/200 [00:09<00:00, 20.75it/s]

{'ner': 0.00013547585192785503}

100%|██████████| 200/200 [00:09<00:00, 20.58it/s]

{'ner': 1.5039316305863469e-05}

In [13]:
for text, _ in train_data:
    doc = nlp(text)
    ent = [(ent.text) for ent in doc.ents]
    print(ent)

['1970']
['EXPRESS#0098']
['13822']
['STORE472605']
[]
['729724']
['14782798']
['FAMOUSFOOTWEAR#570903']
['723832']
['483280353']
['233']
['5754']
['G020029']
['1085']
['0780350500']
['3857']
['440']
['337734']
['7591']
['1305']
['3162']
['295']
[]
['500']
['25']
[]
['284']
['304']
[]
[]
['4215']
['2989']
['PETRO045518']
['974']
['14639']
[]
['10262660']
['0142']
['380']
['3207']
['1040']
['01']
['1847']
['9502']
['1338']
['0354']
['072473']
[]
['F6297']
['F26490']
[]
['029']
['0662']
['46221']
['3547']
['15474']
['409']
['2650']
['F565']
[]
['687']
['1563']
['13360692']
['1783']
['479']
[]
['029071']
[]
['0113']
['26824']
['0447']
['421']
['29']
[]
['7430']
[]
['22357']
['F16829']
['11789']
['2']
['7350']
['9386']
['209']
['6425']
['4204']
['25139']
['1327']
['730']
['3626']
['F1013']
['12862950']
[]
['833']
['15']
['1129']
['2050']
['0303']
['196']
['F3172']
[]
['0040']
['05320']
['07134']
['02282']
['4611']
['568']
['6470']
[]
[]
['9505']
['0976']
[]
['8550']
['231594']
['0748361300']
['021103']
[]
['17131522']
['0179']
['4']
['1485']
['535']
[]
['42']
[]
['F35869MCDONALD']
['291']
['FOOTWEAR830366']
['6828']
['F5579']
['739723']
['L765004']
['0453']
['11002986']
['FOOTWEAR470811']
['2257']
['49134']
[]
['24']
[]
['0046']
['34']
['STORE171793']
['1774']
['1316']
['STORE001491']
['1901']
['355514']
['7871']
['455460']
['6853']
['1167']
['6870']
['14560807']
['13']
['2322']
['10630845']
['4102']
['0046']
['FOOTWEAR572264']
['346']
['2']
['1407']
['0167']
['523']
['0043']
['0256']
['FOOTWEAR881706']
['06524']
['23853']
['0445']
['0688']
['2314']
['003']
['4681']
['11572299']
['4842']
['000415']
['8396']
['0437']
['CA142']
['STORE460391']
['235']
['6255']
['27']
[]
['F2128']
[]
['2202']
['227']
['1049']
['927']
['EXPRESS#0920']
['514']
['01548.COM']
['387']
['346432']
['47']
[]
['1624']

In [14]:
test = df.loc[df['dataset']=='test']

test_data = []

for item in test.values:
    start, end = find_matches(item[0],item[1])
    test_item = (item[0],{
          'entities':[(start, end, 'NUMBER')]
    })

    test_data.append(test_item)

result = []
for text, _ in test_data:
    doc = nlp(text)
    ent = [(ent.text) for ent in doc.ents]
    result.append(ent)
    print(ent)

['242']
[]
['1419']
['1019']
['38']
[]
['629']
['1475']
['2505']
['825']
['2923']
['058']
['2039']
['382']
['012260']
['864']
[]
['011']
['70360265']
['4393']
['62']
['7212']
['30']
['WRENTHA130571']
['14178']
['3220']
['407']
['14']
['2454']
['17871401']
['3192']
['862751']
['1']
[]
['3889']
['401']
['2597']
['1253']
['507']
['472831773']
['277']
['59']
['48']
['231']
['11332']
['16482149']
['F33735']
['F671']
['F11370']
['50']
['11820']
['6619']
['6102']
['F2383']
['733780']
['62132001']
['F33124']
['15392']
['860977']
['F122']
['0982']
['188']
['15843']
['2742643']
['FOOTWEAR001261']
['EXPRESS#0813']
['7414']
[]
['392']
['66165']
['0647']
['14788']
['57331']
['34493']
['408']
['10101']
[]
['405']
['601128']
['4633']
['1997']
['21000236']
['FOOTWEAR730376']
['PETRO170928']
['0104235700']
['FAMOUSFOOTWEAR#132427']
['11966']
[]
['401']
['51']
['UT044']
[]
[]
[]
['513']
['F2151']
['1403']
['06689']
['8109']
['0443']

In [15]:
test['result'] = result
test.head(15)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                       transaction_descriptor store_number dataset    result
200                      IN-N-OUT BURGER #242          242    test     [242]
201                  BP#9442088LIBERTYVILLE B      9442088    test        []
202                             JCPENNEY 1419         1419    test    [1419]
203                         ROSS STORES #1019         1019    test    [1019]
204                        WM SUPERCENTER #38           38    test      [38]
205                 TUESDAY MORNING # 0673 06          673    test        []
206  IHOP 629                 WHITE HOUSE  TN          629    test     [629]
207                 LBOUTLETS#4249 1475 N BUR         4249    test    [1475]
208       WINN DIXIE #2505 VALRICO, FL (3454)         2505    test    [2505]
209                     BURLINGTON STORES 825          825    test     [825]
210                      WM SUPERCENTER #2923         2923    test    [2923]
211   BUFFALO WILD WINGS 058 CARSON CITY   NV           58    test     [058]
212                      BOB EVANS REST #2039         2039    test    [2039]
213                     JIMMY JOHNS # 382 - E          382    test     [382]
214                     PENSKE TRK LSG 012260        12260    test  [012260]

In [16]:
test.to_csv('result.csv')